{{ form_start(form) }}
<fieldset>
    <legend> Modifier </legend>
    <table border="1">

        <tr>
            <th>NomCategorie</th>
            <td>{{ form_widget(form.nomCategorie) }}</td>
        </tr>

    </table>
    {{ form_widget(form.Ajouter) }}

</fieldset>
{{ form_widget(form.Ajouter) }}


{{ form_end(form) }}