{% extends '@SAV/layout.html.twig' %}
{% block content %}
    {% block body %}
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste des réclamations non traité</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Sujet</th>
                                <th>Contenu</th>
                                <th>Etat</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reclamation in reclamations %}
                                {% if reclamation.etat == "non traitée" %}
                                <tr>
                                    <td><a href="{{ path('SAV_reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.id }}</a></td>
                                    <td>{{ reclamation.sujet }}</td>
                                    <td>{{ reclamation.contenu }}</td>
                                    <td>{{ reclamation.etat }}</td>
                                    <td>{% if reclamation.date %}{{ reclamation.date|date('Y-m-d') }}{% endif %}</td>
                                    <td>
                                        <ul>

                                            <li>
                                                <a href="{{ path('sav_admin_reclamation_traiter', { 'id': reclamation.id }) }}">Marquer comme traitée</a>
                                            </li>


                                            <li>
                                                <a href="{{ path('sav_admin_reclamation_answer', { 'id': reclamation.id }) }}">Send message to user</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('sav_admin_reclamation_delete', { 'id': reclamation.id }) }}">delete</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste des réclamations traité </h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Sujet</th>
                                <th>Contenu</th>
                                <th>Etat</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reclamation in reclamations %}
                            {% if reclamation.etat == "Traitée" %}
                                <tr>
                                    <td><a href="{{ path('SAV_reclamation_show', { 'id': reclamation.id }) }}">{{ reclamation.id }}</a></td>
                                    <td>{{ reclamation.sujet }}</td>
                                    <td>{{ reclamation.contenu }}</td>
                                    <td>{{ reclamation.etat }}</td>
                                    <td>{% if reclamation.date %}{{ reclamation.date|date('Y-m-d') }}{% endif %}</td>
                                    <td>
                                        <ul>

                                            <li>
                                                <a href="{{ path('sav_admin_reclamation_answer', { 'id': reclamation.id }) }}">Send message to user</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('sav_admin_reclamation_delete', { 'id': reclamation.id }) }}">delete</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}



