{% extends "adminBundle:admin:layout.html.twig" %}
{% block title %}Lister catégoires{% endblock %}
{% block a %}
<div class="green-table">
    <div class="color-table">
        <div class="table-responsive">

            <table class="table full-color-table full-info-table hover-table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Nom catégorie</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for model in categories %}
                    <td>{{ model.id }}</td>
                    <td>{{ model.nomCategorie  }}</td>
                    <td class="text-nowrap">
                        <a href="{{ path('_update_categorie',{'id':model.id}) }}" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                        <a href="{{ path('delete_Categorie',{'id':model.id}) }}" data-toggle="tooltip" data-original-title="Supprimer"> <i class="fa fa-close text-danger"></i> </a>
                    </td>
                </tbody>
                {% endfor %}
            </table>

            {#<div class="navigation">

                {{ knp_pagination_render(modeles) }}
            </div>#}
        </div>
    </div>
</div>

{% endblock %}

