{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />


{% endblock %}
{% block bg %}
    <header id="header" class="paralax header" style="background-image: url({{ asset('/assets/produit.jpg') }});">
    {% endblock %}
    {% block txt %}
        <div class="container header-content">
            <span class="header-subtitle font-third font-weight-light color-main wow zoomIn" data-wow-delay="0.5s">CONSULTER NOS PRODUITS
            <ul class="breadcrumb-list wow zoomIn" data-wow-delay="0.3s">
                <li>
                    <a href="" class="font-additional font-weight-normal color-main text-uppercase">ACCCUEIL</a>
                    <span>/</span>
                </li>
                <li class="font-additional font-weight-normal color-main text-uppercase">PRODUIT</li>
            </ul>
                </span>

        </div>

        </span>
    {% endblock %}






    {% block content %}
        <body class="animated-css" data-scrolling-animations="true">
<div class="sp-body">

    <section id="pageContent" class="page-content category-type_list">
        <div class="container">
            <div class="row">
                <div class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix">

                    {{ render(controller('MehdiBundle\\Controller\\CategorieController::exempleAction')) }}

                    <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor wow fadeInUp"
                        data-wow-delay="0.3s"></h3>

                    {#<h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor wow fadeInUp"
                        data-wow-delay="0.3s">by price</h3>
                    <div class="sidebar-slider sidebar-slider_btm_padding wow fadeInUp" data-wow-delay="0.3s">
                        <div class="slider-range" data-min="0.5" data-max="100" data-default-min="0.5"
                             data-default-max="350" data-range="true" data-value-container-id="priceAmount"></div>
                        <div class="filter-container">
                            <div class="slider-range-value pull-left">
                                <label class="font-main font-weight-normal" for="">Price:</label>
                                <input class="font-main font-weight-normal" type="text" id="priceAmount" readonly>
                            </div>
                            <a class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg pull-right"
                               href="#">Filter</a>
                        </div>
                    </div>#}
                    {{ render(controller('MehdiBundle\\Controller\\tennisController::xAction')) }}


                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix">
                    <div class="content-box">
                        <div class="category-filter clearfix wow fadeInUp" data-wow-delay="0.3s">

                            <div class="select pull-left">
{#
                                <input id="recherche" type="text">
#}
                                {#amine#}
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg icon-addon addon-lg">
                                            <input type="text" placeholder="Entrer le nom du produit " name="" class="form-control input-lg" id="recherche">
                                            <i class="icon icon-search"></i>
                                            <span class="input-group-btn">
                                            <button type="submit" class="btn btn-inverse">Rechercher</button>
                                        </span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>


                        {% block produit %}
                            <div class="r">
                                {% for model in modeles %}
                        <div id="t" name="t">
                        </div>
                        <div class="products-cat clearfix">
                            <ul class="products-list">
                                <li class="wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="product-list_item row">
                                        <div class="product-list_item_img col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                                            <a href="{{ path('read_more',{'id': model.id} ) }}">
                                                <img class="product-list_item_img hvr-grow-rota te"
                                                     src="{{ asset(model.image) }}" alt="Product">
                                            </a>

                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">
                                            <div class="product-list-info">
                                                <div class="product-list_item_title">
                                                    <h3 class="font-additional font-weight-bold text-uppercase">{{ model.nomProduit }}</h3>


                                                </div>
                                                <div class="product-item_price font-additional font-weight-normal customColor">{{ model.prix }}
                                                    DT <span>{{ model.prixsanssolde }}DT</span>

                                                </div>
                                                <div class="product-list_item_desc font-main font-weight-normal color-third">{{ model.description }}</div>
                                                <ul class="rating">
                                                    <li>
                                                        {{ model.rating|rating(5, "fa-x") }}

                                                    </li>
                                                </ul>

                                                <a href="{{ path('sav_show_commande_liv') }}"
                                                   class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                                                    <span class="icon-basket" aria-hidden="true"></span>
                                                    Commander
                                                </a>
                                               {# <a href="#"
                                                   class="btn button-border font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-border hover-focus-bg before-bg">
                                                    <span class="icon-heart" aria-hidden="true"></span>
                                                </a>#}


                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="product-list_item row">
                                        <div class="product-list_item_img col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                                            <a href="#">

                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                        <div class="navigation">
                                            {{ knp_pagination_render(modeles) }}
                                        </div>
                                        {% endblock %}
                                </li>
                            </ul>


                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

</div>
</div>

</div>
<script src="{{ asset('/front/js/modernizr.custom.js') }}"></script>
<script src="{{ asset('/front/js/jquery.placeholder.min.js') }}"></script>
<script src="{{ asset('/front/js/smoothscroll.min.js') }}"></script>
<script src="{{ asset('/front/js/classie.js') }}"></script>
<!--Owl Carousel-->
<script src="{{ asset('/front/plugins/owl-carousel/owl.carousel.min.js') }}"></script>
<!-- bxSlider -->
<script src="/{{ asset('front/plugins/bxslider/jquery.bxslider.min.js') }}"></script>
<!--Switcher-->
<script src="{{ asset('/front/plugins/switcher/js/bootstrap-select.js') }}"></script>
<script src="{{ asset('/front/plugins/switcher/js/evol.colorpicker.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/front/plugins/switcher/js/dmss.js') }}"></script>
<!-- SCRIPTS -->
<script type="text/javascript" src="{{ asset('/front/plugins/isotope/jquery.isotope.min.js') }}"></script>

<!--THEME-->
<script src="{{ asset('/front/js/wow.min.js') }}"></script>
<script src="{{ asset('/front/js/cssua.min.js') }}"></script>
<script src="{{ asset('/front/js/theme.js') }}"></script>

{% block javascripts %}{% endblock %}
<script>
    $(document).ready(function () {
        $('#recherche').on('keyup', function () {
            $search = $(this).val();
            $.ajax({
                url: "{{ path('recherche_ajax') }}",
                data: {'search': $search }
            }).done(function (response) {
                $('.r').html(response)
            }).catch(function (err) {

            });
        });
    });

</script>
</body>
{% endblock %}
