{% for model in solde %}
        <li>
            <a class="popular-product-item" href="{{ path('read_more',{'id': model.id} ) }}">
                <img src="{{ asset('') }}{{ model.image }}" style="height: 80px; width: 80px;" alt="Product">
                <span class="popular-product-item_title font-additional font-weight-bold text-uppercase">{{ model.nomProduit }}</span>
                <span class="popular-product-item_price font-additional customColor">{{ model.prix }} DT</span>
                <span class="product-item_sale color-main font-additional customBgColor circle">{{ model.solde }}%</span>

            </a>
        </li>
{% endfor %}
