{% extends '@SAV/layout.html.twig' %}
{% block content %}
    {% block body %}
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste des demandes livreur </h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Utilisateur</th>
                                <th>Date d'envoi</th>
                                <th>Véhicule</th>
                                <th>Disponibilité</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for demandeLivreur in demandeLivreurs %}
                                <tr>
                                    <td>{{ demandeLivreur.id }}</td>
                                    <td>{{ demandeLivreur.clientRef.username }}</td>
                                    <td>{% if demandeLivreur.dateInscription %}{{ demandeLivreur.dateInscription|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ demandeLivreur.vehicule }}</td>
                                    <td>
                                            {% for d in demandeLivreur.disponibilite %}
                                            {% if d==2 %}
                                                <span> Mardi </span>
                                            {% elseif d==3 %}
                                                <span> Mercredi </span>
                                            {% elseif d==4 %}
                                                <span> Jeudi </span>
                                            {% elseif d==5 %}
                                                <span> Vendredi </span>
                                            {% elseif d==6 %}
                                                <span> Samedi </span>
                                            {% elseif d==7 %}
                                                <span> Dimanche </span>
                                            {% elseif d==1 %}
                                                <span> Lundi </span>
                                            {%  endif %}
                                            {% endfor %}
                                    </td>

                                    <td>
                                        <a href="{{ path('sav_demandeLivreur_activate',{'id': demandeLivreur.id}) }}">Activer Livreur</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('sav_demandeLivreur_delete',{'id': demandeLivreur.id}) }}">Delete demande</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste des livreurs </h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Utilisateur</th>
                                <th>Date d'envoi</th>
                                <th>Véhicule</th>
                                <th>Disponibilité</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for demandeLivreur in demandeLivreursActive %}
                                <tr>
                                    <td><a href="{{ path('sav_demandeLivreur_show', { 'id': demandeLivreur.id }) }}">{{ demandeLivreur.id }}</a></td>
                                    <td>{{ demandeLivreur.clientRef.username }}</td>
                                    <td>{% if demandeLivreur.dateInscription %}{{ demandeLivreur.dateInscription|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ demandeLivreur.vehicule }}</td>
                                    <td>
                                        {% for d in demandeLivreur.disponibilite %}
                                            {% if d==2 %}
                                                <span> Mardi </span>
                                            {% elseif d==3 %}
                                                <span> Mercredi </span>
                                            {% elseif d==4 %}
                                                <span> Jeudi </span>
                                            {% elseif d==5 %}
                                                <span> Vendredi </span>
                                            {% elseif d==6 %}
                                                <span> Samedi </span>
                                            {% elseif d==7 %}
                                                <span> Dimanche </span>
                                            {% elseif d==1 %}
                                                <span> Lundi </span>
                                            {%  endif %}
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <a href="{{ path('sav_demandeLivreur_disable',{'id': demandeLivreur.id}) }}">Désactiver Livreur</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
