{% extends '@SAV/layout.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% block body %}
    <h1>Livraisons list</h1>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Liste des livraisons </h4>
            <div class="table-responsive">
                <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Datelivraison</th>
                <th>Etat</th>
            </tr>
        </thead>
        {% for livraison in livraisons %}
            <tr>
                <td><a href="{{ path('SAV_livraison_show', { 'id': livraison.id }) }}">{{ livraison.id }}</a></td>
                <td>{% if livraison.dateLivraison %}{{ livraison.dateLivraison|date('Y-m-d') }}{% endif %}</td>
                <td>{{ livraison.etat }}</td>
            </tr>
        {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}

