{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}
{% block content %}
{% block body %}
    <h1>Demander une livraison à domicile</h1>
   <form>
    {{ form_start(form) }}

    <div>
        {{ form_widget(form.dateLivraison, { 'attr': {'class': 'form-control', 'placeholder': "Date" }})}}
    </div>
    <div>
        {{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'placeholder': "Date" }})}}
    </div>

    {{ form_rest(form) }}
    <input class="btn ws-btn-fullwidth" type="submit" value="Confirmer la livraison">

    <a class="btn ws-btn-fullwidth" href="{{ path('sav_FullAdress_new', { 'id': id }) }}">Ajouter une adresse de livraison </a>
   </form>
{% endblock %}
{% endblock %}
