{% extends 'base.html.twig' %}
{% block content %}
    {% block body %}
        <h1>Livraisons Disponibles</h1>

        <table id="customers">
            <thead>
            <tr>
                <th>Datelivraison</th>
                <th>Livrée à</th>
                <th>Adresse</th>
                <th>Vendeur</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for livraison in livraisons %}
                <tr>
                    <td>{% if livraison.dateLivraison %}{{ livraison.dateLivraison|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ livraison.adresse.idUser.nom }} {{ livraison.adresse.idUser.prenom }}</td>
                    <td> {{ livraison.adresse.numMaison }} {{ livraison.adresse.rue }} {{ livraison.adresse.ville }} {{ livraison.adresse.codePostal }} {{ livraison.adresse.pays }}</td>
                    <td>{{ livraison.commandeRef.vendeurRef.nom }} {{ livraison.commandeRef.vendeurRef.prenom }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('sav_livraison_livreur_enroute_vendeur', { 'id': livraison.id }) }}">Activer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <h1>Livreur En Route pour le vendeur</h1>

        <table id="customers">
            <thead>
            <tr>
                <th>Datelivraison</th>
                <th>Livrée à</th>
                <th>Adresse</th>
                <th>Vendeur</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for livraison in livraisonsEnRouteVendeur %}
                <tr>
                    <td>{% if livraison.dateLivraison %}{{ livraison.dateLivraison|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ livraison.adresse.idUser.nom }} {{ livraison.adresse.idUser.prenom }}</td>
                    <td> {{ livraison.adresse.numMaison }} {{ livraison.adresse.rue }} {{ livraison.adresse.ville }} {{ livraison.adresse.codePostal }} {{ livraison.adresse.pays }}</td>
                    <td>{{ livraison.commandeRef.vendeurRef.nom }} {{ livraison.commandeRef.vendeurRef.prenom }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('sav_livraison_livreur_enroute_client', { 'id': livraison.id }) }}">PickUp</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <h1>Livraisons En Route pour le Client</h1>

        <table id="customers">
            <thead>
            <tr>
                <th>Datelivraison</th>
                <th>Livrée à</th>
                <th>Adresse</th>
                <th>Vendeur</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for livraison in livraisonsEnRouteClient %}
                <tr>
                    <td>{% if livraison.dateLivraison %}{{ livraison.dateLivraison|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ livraison.adresse.idUser.nom }} {{ livraison.adresse.idUser.prenom }}</td>
                    <td> {{ livraison.adresse.numMaison }} {{ livraison.adresse.rue }} {{ livraison.adresse.ville }} {{ livraison.adresse.codePostal }} {{ livraison.adresse.pays }}</td>
                    <td>{{ livraison.commandeRef.vendeurRef.nom }} {{ livraison.commandeRef.vendeurRef.prenom }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('sav_livraison_livreur_arrivee', { 'id': livraison.id }) }}">En Route</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <h1>Livraisons Arrivées à destination</h1>

        <table id="customers">
            <thead>
            <tr>
                <th>Datelivraison</th>
                <th>Livrée à</th>
                <th>Adresse</th>
                <th>Vendeur</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for livraison in livraisonsArrive %}
                <tr>
                    <td>{% if livraison.dateLivraison %}{{ livraison.dateLivraison|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ livraison.adresse.idUser.nom }} {{ livraison.adresse.idUser.prenom }}</td>
                    <td> {{ livraison.adresse.numMaison }} {{ livraison.adresse.rue }} {{ livraison.adresse.ville }} {{ livraison.adresse.codePostal }} {{ livraison.adresse.pays }}</td>
                    <td>{{ livraison.commandeRef.vendeurRef.nom }} {{ livraison.commandeRef.vendeurRef.prenom }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('sav_livraison_livreur_valide', { 'id': livraison.id }) }}">Arrivée</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <h1>Livraisons validé</h1>

        <table id="customers" data-secondary-color="green">
            <thead>
            <tr>
                <th>Datelivraison</th>
                <th>Livrée àth>Adresse</th>
                <th>Vendeur</th>
            </tr>
            </thead>
            {% for livraison in livraisonsValide %}</th>
            <
                <tr>
                    <td>{% if livraison.dateLivraison %}{{ livraison.dateLivraison|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ livraison.adresse.idUser.nom }} {{ livraison.adresse.idUser.prenom }}</td>
                    <td> {{ livraison.adresse.numMaison }} {{ livraison.adresse.rue }} {{ livraison.adresse.ville }} {{ livraison.adresse.codePostal }} {{ livraison.adresse.pays }}</td>
                    <td>{{ livraison.commandeRef.vendeurRef.nom }} {{ livraison.commandeRef.vendeurRef.prenom }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
{% endblock %}

