{% extends "adminBundle:admin:layout.html.twig" %}
{% block a %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

{#<div class="row page-titles">#}
    {#<div class="col-md-5 align-self-center">#}
        {#<h3 class="text-themecolor">Manipulation des articles</h3>#}
    {#</div>#}
    <div class="row">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Manipulation des articles</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Articles</a></li>
                    <li class="breadcrumb-item active">Manipulation</li>
                </ol>
            </div>
        <div class="col-sm-12">
            <form class="form-horizontal m-t-40">
            <div class="form-group">

    <div class="purple-table">
        <div class="color-table">
            <div class="table-responsive">
                <table class="table full-color-table full-info-table hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for actualite in actualites  %}
                        <td>{{ actualite.id }}</td>
                        <td>{{ actualite.titre  }}</td>
                        <td><img src="{{ asset('') }}{{ actualite.photo }}" style="height: 50px; width: 50px;"> </td>
                        <td class="text-nowrap">
<h1>
                            <a href="{{ path('a_edit',{'id':actualite.id}) }}" data-toggle="tooltip" data-original-title="Modifer"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a href="{{ path('a_delete',{'id':actualite.id}) }}" data-toggle="tooltip" data-original-title="Supprimer"> <i class="fa fa-close text-danger"></i> </a>
                            <a href="{{ path('a_show',{'id':actualite.id}) }}" data-toggle="tooltip" data-original-title="Afficher"> <i class="icon-File"></i> </a>
</h1>

                        </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>


        </div>
            </form>
            </div>

    </div>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />


{% endblock %}

