{% extends 'base.html.twig' %}
{% block content %}
{% block body %}
    <h1>Panier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ panier.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ panier.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ panier.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('SAV_Panier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('SAV_Panier_edit', { 'id': panier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% endblock %}
