{% extends "adminBundle:admin:layout.html.twig" %}
{% block title %}AjoutProduit{% endblock %}
{% block a %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Ajouter un nouveau produit</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Accueil</a></li>
                <li class="breadcrumb-item active">AjoutProduit</li>
            </ol>
        </div>
        <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-body">
                <form class="form-horizontal m-t-40">


                    <div class="form-group">
                        <label>Nom du nouveau produit</label>
{#
                        <input type="text"  class="form-control"  placeholder="Nom du produit">
#}

                    {{ form_widget(form.nomProduit, {'attr': {'class': 'form-control', 'placeholder': 'nom du produit'} }) }}

                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'description du produit'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.categorie, {'attr': {'class': 'form-control', 'placeholder': 'choisir la categorie'} }) }}

                    </div>
                    <div class="form-group">
                        <label>Default file upload</label>
                        {{ form_widget(form.image, {'attr': {'class': 'form-control'} }) }}

                        {#
                        #}
                    </div>
                    {#<div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">DT</span>
                        </div>
                        {{ form_widget(form.prix_sans_solde , {'attr': {'id' :'prix','placeholder': 'prix sans solde','class': 'form-control'} }) }}
#}{#
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
#}{#
                        <div class="input-group-append" >
                            <span class="input-group-text">PRIX sans solde</span>
                        </div>
                    </div>#}
                        <span class="input-group-text">PRIX sans solde {{ form_widget(form.prix_sans_solde,{'id':'prix'}) }}<span class="input-group-text">DT</span></span>

                        <span class="input-group-text">solde
                            {{ form_widget(form.solde,{'id':'solde'})    }}
                            <span class="input-group-text">%</span></span>
                    <br>
                   <center> <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info" id="btn" onclick="go()">Calculer</button> </center>
                                    <br>
                        <span class="input-group-text">prix avec solde
                            {{ form_widget(form.prix,{'id':'tot'}) }}
                            <span class="input-group-text">DT</span></span>

                    <script>
                        function go()
                        {
                            var input1=document.getElementById('prix').value;
                            var input2=document.getElementById('solde').value;
                            var p = input1-((input2/100)*input1);

                            window.document.getElementById("tot").value = p;

                        }
                    </script>


                    {#<div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">%</span>
                        </div>
                        {{ form_widget(form.solde, {'attr': {'class': 'form-control', 'placeholder': 'solde', 'id':'solde' } }) }}
                        <div class="input-group-append">
                            <span class="input-group-text">solde</span>
                        </div>
                    </div>#}
                   {# <center> <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info" id="btn" onclick="go()">Calculer</button> </center>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">DT</span>
                        </div>
                       {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'placeholder': 'prix avec solde', 'id' : 'tot'}})}}
                        <div class="input-group-append">
                            <span class="input-group-text">PRIX avec solde</span>
                        </div>
                    </div>#}
                </form>


                {{ form_row (form.rating) }}



              <center>{{ form_widget(form.ajouter, {'attr': {'class': 'btn waves-effect waves-light btn-rounded btn-outline-info'} }) }}</center>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>



{% endblock %}
