{# template admin twig affiche tableau supp update#}
{% extends "adminBundle:admin:layout.html.twig" %}
{% block title %}list les produits{% endblock %}
{% block a %}

    <div class="purple-table">
        <div class="color-table">
            <div class="table-responsive">
                <input type="text" class="form-control" id="recherche" placeholder="Entrer le nom du produit" name="search">

                <div id="t" name="t">
                </div>
            <table class="table full-color-table full-primary-table hover-table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Nom des produits</th>
                    <th>Categories</th>
                    <th>Image</th>
                    <th>Prix sans solde</th>
                    <th>Prix avec solde</th>
                    <th>Ratings</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="r">
                {% for model in modeles %}
                <tr>
                  <td>{{ model.id }}</td>
                    <td>{{ model.nomProduit  }}</td>
                    <td>{{ model.categorie.nomCategorie }}</td>
                    <td><img src="{{ asset('') }}{{ model.image }}" style="height: 50px; width: 50px;"> </td>
                    <td>{{ model.prixsanssolde }} DT</td>
                    <td>{{ model.prix }} DT</td>
                    <td>{{ model.rating|rating(5, "fa-x") }}</td>
                    <td class="text-nowrap">
                        <a href="{{ path('updatep',{'id':model.id}) }}" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                        <a href="{{ path('supp',{'id':model.id}) }}" data-toggle="tooltip" data-original-title="Supprimer"> <i class="fa fa-close text-danger"></i> </a>
                    </td>

                </tr>

                {% endfor %}
                </tbody>
            </table>

                    <div class="navigation">

                        {{ knp_pagination_render(modeles) }}
                    </div>
        </div>
    </div>
    </div>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

    <script>
        $(document).ready(function () {
            $('#recherche').on('keyup', function () {
                $search = $(this).val();
                $.ajax({
                    url: "{{ path('admin_ajax') }}",
                    data: {'search': $search }
                }).done(function (response) {
                    $('.r').html(response)
                }).catch(function (err) {

                });
            });
        });

    </script>

{% endblock %}


