{% extends "MehdiBundle:tennis:accueil.html.twig" %}
{% block produit %}

    {% if produit is empty %}
        <div class="alert alert-danger">
           <center><strong>Vous n'avez pas de produits dans cette categorie</strong></center>
        </div>
    {% endif %}
    {% for model in produit %}
        <div class="products-cat clearfix">
        <ul class="products-list">
        <li class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="product-list_item row">
                <div class="product-list_item_img col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                    <a href="{{ path('read_more',{'id': model.id} ) }}">
                        <img class="product-list_item_img hvr-grow-rotate" src="{{ asset(model.image) }}" alt="Product">
                    </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">
                    <div class="product-list-info">
                        <div class="product-list_item_title">
                            <h3 class="font-additional font-weight-bold text-uppercase">{{ model.nomProduit }}</h3>
                            <ul class="rating">
                                <li>
                                    {{ model.rating|rating(5, "fa-x") }}

                                </li>
                            </ul>
                        </div>
                        <div class="product-item_price font-additional font-weight-normal customColor">{{ model.prix }} DT <span>{{ model.prixsanssolde }}DT</span></div>
                        <div class="product-list_item_desc font-main font-weight-normal color-third">{{ model.description }}</div>
                        <a href="#" class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                            <span class="icon-basket" aria-hidden="true"></span>
                            add to cart
                        </a>
                        <a href="#" class="btn button-border font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-border hover-focus-bg before-bg">
                            <span class="icon-heart" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="wow fadeInUp" data-wow-delay="0.3s">
        <div class="product-list_item row">
        <div class="product-list_item_img col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
            <a href="#">

            </a>
        </div>
    {% endfor %}
    {#<div class="navigation">
        {{ knp_pagination_render(modeles) }}
    </div>#}
    </div>
    </li>
    </ul>
    </div>
{% endblock %}
