<h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor wow fadeInUp"
    data-wow-delay="0.3s"> Produits Luxe </h3>

<ul class="sidebar-popular-product wow fadeInUp" data-wow-delay="0.3s">
    {%for model in produit%}

        <li>
        <a class="popular-product-item" href="{{ path('read_more',{'id': model.id} ) }}">
            <img src="{{ asset('') }}{{ model.image }}" style="height: 80px; width: 80px;" alt="Product">
            <span class="popular-product-item_title font-additional font-weight-bold text-uppercase">{{ model.nomProduit }}</span>
            <span class="popular-product-item_price font-additional color-third">{{ model.prix }} DT</span>


        </a>
    </li>
    {% endfor %}
</ul>
