{% extends "::base.html.twig" %}

{% block title %}CalendrierMedecinsBundle:Patient:List{% endblock %}

{% block body %}
    <h1>La liste des Patients</h1>

{%for model in modeles%}
    <h2>{{ model.prenom }} {{ model.nom }}</h2>
    <h2></h2>


    <ul>

        <li><b>Id:</b> {{ model.id }}</li>
        <li><b>Date:</b> {{ model.date|date }}</li>
        <li><b>Heure:</b> {{ model.heure }}</li>
        <li><b>Medecin:</b> {{ model.medecin.libele}}</li>
    </ul>
    {% endfor %}

{% endblock %}
