{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fulladresses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Rue</th>
                <th>Nummaison</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fullAdress in fullAdresses %}
            <tr>
                <td><a href="{{ path('SAV_fullAdress_show', { 'id': fullAdress.id }) }}">{{ fullAdress.id }}</a></td>
                <td>{{ fullAdress.rue }}</td>
                <td>{{ fullAdress.numMaison }}</td>
                <td>{{ fullAdress.ville }}</td>
                <td>{{ fullAdress.codePostal }}</td>
                <td>{{ fullAdress.pays }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('SAV_fullAdress_show', { 'id': fullAdress.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('SAV_fullAdress_edit', { 'id': fullAdress.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('SAV_fullAdress_new') }}">Create a new fullAdress</a>
        </li>
    </ul>
{% endblock %}
