{% extends "Front2Bundle:siteweb:page0.html.twig" %}
{% block b %}


    <div class="container">
        <br><br><br>
        <h2 class="title font-additional font-weight-bold text-uppercase wow zoomIn" style="visibility: visible; animation-name: zoomIn; text-shadow: 2px 2px #FF0000 ;">Detail Event</h2>
        <center><div class="starSeparator">
                <span class="icon-star" aria-hidden="true"></span>
            </div></center>
        <div class="blog blog-post">
            <div class="blog-post_img wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                <div class="blog-preview_posted customBgColor">
                    <span class="blog-preview_date font-additional font-weight-bold text-uppercase color-main">De: {{events.datedeb|date("d/m/y")}} </span>
                    <span class="blog-preview_date font-additional font-weight-bold text-uppercase color-main">à: {{ events.datefin |date("d/m/y") }}</span>
                </div>
                <img src="{{ asset(events.image )}}" alt="Post">
            </div>
            <div class="blog-item_desc">
                <div class="blog-item_header wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                    <span class="blog-item_posted font-additional">Posted by</span>
                    <a href="#" class="blog-item_posted_name font-additional hover-focus-color">{{ events.nomorganisateur }}</a>
                    <span class="blog-item_posted_sepparator"></span>
                    <ul class="blog-item-cats">
                        <li><a class="font-additional hover-focus-color" href="category.html">Time Start :{{ events.heurefin|date('H-i') }}  </a></li>
                        <li><a class="font-additional hover-focus-color" href="category-2.html">Time End :{{ events.heurefin|date('H-i') }} </a></li>
                    </ul>
                </div>
                <div class="blog-item_body wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                    <h3 class="font-additional font-weight-bold text-uppercase">{{ events.nom }}</h3>
                    <div class="blog-item_text font-main color-third">



                        <div class="important-text customBorderColor">{{ events.description }}</div>


                    <div class="blog-item_body">
                    <a href="{{ path('delete',{'id':events.id}) }}" class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg">Delete</a>

                    <a href="{{ path('update',{'id':events.id}) }}" class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg">Update</a>
                    </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <center>
                    <div>
                        {{ socialButtons() }}

                    </div>
                    </center>
                    <br><br><br><br>
                </div>

<br><br><br><br>
      {{ form_start(form_comment) }}
                {{ form_end(form_comment) }}
                {% for comment in events.comment %}
                    {% if app.user.id==comment.user.id %}<a class="pull-right" href="{{ path('delete_comment',{'id':comment.id,'id_event':events.id}) }}"><i class="fa fa-times"></i></a>{% endif %}
                    <p><i class="fa fa-clock-o"> {{comment.createdAt|date('Y-m-d')}}</i>
                        <i class="fa fa-user" > {{comment.user.nom~' '~comment.user.prenom}}</i></p>
                    <p><i class="fa fa-comment"> {{comment.content}}</i></p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}