{% extends 'base.html.twig' %}
{% block content %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <h1 align="center">Entrez votre adresse complete</h1>
<div class="container ws-page-container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

    <form class="ws-login-form" name="fos_user_registration_form">
    {{ form_start(form) }}

            <div class="form-group">
                {{ form_widget(form.rue, { 'attr': {'class': 'form-control', 'placeholder': "Rue" }})}}
            </div>

            <div class="form-group">
                {{ form_widget(form.numMaison, { 'attr': {'class': 'form-control', 'placeholder': "Numero" }})}}
            </div>

            <div class="form-group">
                {{ form_widget(form.codePostal, { 'attr': {'class': 'form-control', 'placeholder': "Code Postal" }})}}
            </div>

            <div class="form-group">
                {{ form_widget(form.ville, { 'attr': {'class': 'form-control', 'placeholder': "Ville" }})}}
            </div>

            <div class="form-group">
                {{ form_widget(form.pays, { 'attr': {'class': 'form-control', 'placeholder': "Pays" }})}}
            </div>
            {{ form_rest(form)  }}
            <input class="btn ws-btn-fullwidth" type="submit">

    </form>
        </div>
    </div>
</div>

{% endblock %}
{% endblock %}
