{% extends "Front2Bundle:siteweb:page0.html.twig" %}

{% block b %}

     {% block  section %}
         <section class="inner-header divider parallax layer-overlay overlay-dark-3" data-bg-img="{{ asset('images/bg/hand1.jpg') }}" style="background-image: {{ asset('&quot;images/bg/bg3.jpg&quot') }}; background-position: 50% 30px;">
             <div class="container pt-70 pb-20">
                 <!-- Section Content -->
                 <br>
                 <br><br>
                 <div class="section-content">
                     <div class="row">
                         <div class="col-md-12">
                             <style> h1{color: dodgerblue ;
                                     text-shadow: 2px 2px #FF0000 ;}</style>
                            <center> <h1>Create Event</h1></center>

                         </div>
                         <center><div class="starSeparator">
                                 <span class="icon-star" aria-hidden="true"></span>
                             </div></center>
                     </div>
                 </div>
             </div>


         </section>


     {% endblock  %}

<br>
{{ form_start(form) }}



<div class="row">
    <div class="col-sm-1 col-xs-12"></div>
    <div class="col-sm-5 col-xs-12">
        <div class="form-group">
            <i class="fa fa-angellist"></i>
            {#
                            <input type="text" class="form-control border-color-1" id="exampleInputEmail1" placeholder="First name">
            #}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control border-color-1','placeholder':'Name of Event'}}) }}

        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-1 col-xs-12"></div>
    <div class="col-sm-5 col-xs-12">
        <div class="form-group">
            <i class="icon icon-calendar" aria-hidden="true"></i>
            {#
                            <input type="text" class="form-control border-color-5" id="exampleInputEmail3" placeholder="Phone">
            #}

            {{ form_widget(form.datedeb, {'attr': {'class': 'form-control border-color-2','placeholder':'date', 'background-color': '#4CAF50' ,
                'border': 'none'}}) }}
        </div>


    </div>


    <div class="col-sm-5 col-xs-12">
        <div class="form-group">

            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {#<input type="text" class="form-control border-color-6" id="exampleInputEmail4" >#}
            {{ form_widget(form.heuredeb, {'attr': {'class': 'form-control border-color-4','placeholder':'time'}}) }}

        </div>
    </div>
</div>


<div class="row">

    <div class="col-sm-1 col-xs-12"></div>
    <div class="col-sm-5 col-xs-12">
        <div class="form-group">
            <i class="icon icon-calendar" aria-hidden="true"></i>

            {#<input type="text" class="form-control border-color-6" id="exampleInputEmail4" >#}
            {{ form_widget(form.datefin, {'attr': {'class': 'form-control border-color-5','placeholder':'datefin'}}) }}

        </div>
    </div>



    <div class="col-sm-5 col-xs-12">
        <div class="form-group">
            <i class="fa fa-clock-o" aria-hidden="true"></i>

            {#<input type="text" class="form-control border-color-6" id="exampleInputEmail4" >#}
            {{ form_widget(form.heurefin, {'attr': {'class': 'form-control border-color-3','placeholder':'time'}}) }}

        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-1 col-xs-12"></div>
    <div class="col-sm-5 col-xs-12">
        <div class="form-group">
            <i class="fa fa-map-marker" aria-hidden="true"></i>


            {#<input type="text" class="form-control border-color-6" id="exampleInputEmail4" >#}
            {{ form_widget(form.lieu, {'attr': {'class': 'form-control border-color-5','placeholder':'Address ...'}}) }}

        </div>
    </div>



    <div class="col-sm-5 col-xs-12">
        <div class="form-group">
            <i class="icon icon-camera" aria-hidden="true"></i>

            {#<input type="text" class="form-control border-color-6" id="exampleInputEmail4" >#}
            {{ form_widget(form.image, {'attr': {'class': 'form-control border-color-3','placeholder':'time'}}) }}

        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-1 col-xs-12"></div>


    <div class="col-sm-10 col-xs-12">
        <div class="form-group">

            <i class="fa fa-comments" aria-hidden="true"></i>


            {{ form_widget(form.description, {'attr': {'class': 'form-control border-color-3','placeholder':'description'}}) }}
        </div>
    </div>
<br><br><br><br>
    <center>
        <div class="row">
            <div class="col-sm-9 col-xs-12"></div>

            <div class="col-sm-2 col-xs-12">
                <div class="formBtnArea">
                    {#<button type="submit" class="btn btn-primary">Send Message</button>#}
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}

                </div>
            </div>

        </div>

    </center>
    <br><br><br>
    {{ form_end(form) }}


{% endblock %}
