{% extends "Front2Bundle:siteweb:page0.html.twig" %}
{% block b %}



    <section id="blogContent" class="blog-row">
        <div class="container">



            <h3 class="title-small font-additional font-weight-bold text-uppercase wow zoomIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;"> Events That I've Particip</h3>
            <center><div class="starSeparator">
                    <span class="icon-star" aria-hidden="true"></span>
                </div></center>
            <div class="blog">
                <div class="header-search">


                    {% for i in events %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                            <div class="blog-preview-small wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                <img class="blog-preview-small_img" src="{{ asset(i.image )}}" alt="Post">
                                <a href="blog-post.html" class="blog-preview-small_link">
                                    <span class="blog-preview-small_txt font-additional font-weight-bold color-main">{{ i.nom }}</span>
                                    <div class="blog-preview_posted">
                                        <span class="blog-preview_date font-additional font-weight-bold text-uppercase">{{ i.datedeb|date ('d/m/y') }}</span>
                                        <span class="blog-preview_comments font-additional font-weight-normal text-uppercase">{{ i.lieu }}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <div>
                            <a href="{{ path('events',{'id':i.id}) }}" class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg">read more</a>
</div>
                        </div>






                    {% endfor %}
                </div>
            </div>
        </div>

    </section>
{% endblock %}