{% extends 'base.html.twig' %}

{% block content %}

    <section id="blogContent" class="blog-row">
        <div class="container">
            <h1 style="
                          color:darkorange;
                          font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
                          font-weight:bold;
                          text-align: center;"
            > Best Events </h1>
            <div class="blog">
                <div class="header-search">



                    {% for i in events %}

                        <div class="blog-item clearfix wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <a class="blog-item_img" href="detail.html.twig">
                                <div class="blog-preview_posted customBgColor">
                                    <span class="blog-preview_date font-additional font-weight-bold text-uppercase color-main">{{ i.datedeb|date ('d/m/y') }}</span>
                                    <span class="blog-preview_comments font-additional font-weight-normal text-uppercase color-main">{{ i.lieu }}</span>
                                </div>
                                <img class="hvr-grow-rotate" src="{{ asset(i.image )}}" alt="Blog">
                            </a>
                            <div class="blog-item_desc">
                                <div class="blog-item_header">
                                    <span class="blog-item_posted font-additional">Posted by</span>
                                    <span class="blog-item_posted_name font-additional hover-focus-color">{{ i.nomorganisateur }}</span>




                                </div>
                                <div class="blog-item_body">
                                    <h3 class="font-additional font-weight-bold text-uppercase">{{ i.nom }}</h3>
                                    <div class="blog-item_text font-main color-third">{{ i.nbrparticipants }} Participants</div>
                                    <a href="{{ path('events',{'id':i.id}) }}" class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg">read more</a>

                                    <a href="{{ path('ListParticipants',{'id':i.id}) }}" class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg">Partipate</a>

                                </div>


                            </div>






                        </div>
                    {% else %}
                        <h2 style="
               color:black;
               font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
               font-weight:bold;
               text-align: center;">il n'ya pas des évenements à venir</h2>

                    {% endfor %}
                </div>
            </div>
        </div>


    </section>


{% endblock %}