{% extends 'base.html.twig' %}

{% block content %}

    <style>
        h1 {
            color:darkorange;
            font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
            font-weight:bold;
            text-align: center;
        }

        tr,td
        {
            margin: 0; padding: 0; border: none;

        }
        form{
            margin: 0; padding: 0; border: none;

        }
    </style>
    <center>
        <h1>create event</h1>



        <fieldset style="width: 50%;">
            <table>
                {{ form_start(form) }}
                <tr>
                    <td style="color:darkorange">Nom :</td>
                    <td>{{ form_widget(form.nom) }}</td>
                </tr>



                <tr>
                    <td style="color:darkorange">Théme :</td>
                    <td>{{ form_widget(form.image) }}</td>
                </tr>
                <tr>
                    <td style="color:darkorange">Nom Organisateur :</td>
                    <td>{{ form_widget(form.nomorganisateur) }}</td>
                </tr>
                <tr>
                    <td style="color:darkorange">Date début :</td>
                    <td>{{ form_widget(form.datedeb) }}</td>
                    <td>{{ form_widget(form.heuredeb) }}</td>

                </tr>
                <tr>
                    <td style="color:darkorange">Termine à :</td>
                    <td id="=aze">{{ form_widget(form.datefin) }}</td>
                    <td>{{ form_widget(form.heurefin) }}</td>
                </tr>
                <tr>
                    <td style="color:darkorange">lieu :</td>
                    <td>{{ form_widget(form.lieu) }}</td>
                </tr>
                <tr>
                    <td style="color:darkorange">Description :</td>
                    <td>{{ form_widget(form.description) }}</td>
                </tr>

                <center><td class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg">{{ form_widget(form.save) }}</td>
                </center>
            </table>

            {{ form_end(form) }}
        </fieldset>
    </center>


{% endblock %}
