{% extends 'base.html.twig' %}

{% block content %}


    <div class="container">
        <h1 style="
                          color:darkorange;
                          font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
                          font-weight:bold;
                          text-align: center;"
        > Event Detail</h1>
        <div class="blog blog-post">
            <div class="blog-post_img wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                <div class="blog-preview_posted customBgColor">
                    <span class="blog-preview_date font-additional font-weight-bold text-uppercase color-main">De: {{events.datedeb|date("d/m/y")}} </span>
                    <span class="blog-preview_date font-additional font-weight-bold text-uppercase color-main">à: {{ events.datefin |date("d/m/y") }}</span>
                </div>
                <img src="{{ asset(events.image )}}" alt="Post">
            </div>
            <div class="blog-item_desc">
                <div class="blog-item_header wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                    <span class="blog-item_posted font-additional">Posted by</span>
                    <a href="#" class="blog-item_posted_name font-additional hover-focus-color">{{ events.nomorganisateur }}</a>
                    <span class="blog-item_posted_sepparator"></span>
                    <ul class="blog-item-cats">
                        <li><a class="font-additional hover-focus-color" href="category.html">Time Start :{{ events.heurefin|date('H-i') }}  </a></li>
                        <li><a class="font-additional hover-focus-color" href="category-2.html">Time End :{{ events.heurefin|date('H-i') }} </a></li>
                    </ul>
                </div>
                <div class="blog-item_body wow slideInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInUp;">
                    <h3 class="font-additional font-weight-bold text-uppercase">{{ events.nom }}</h3>
                    <div class="blog-item_text font-main color-third">



                        <div class="important-text customBorderColor">{{ events.description }}</div>

                    </div>
                    <div class="blog-item_body">
                    <a href="{{ path('delete',{'id':events.id}) }}" class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg">Delete</a>

                    <a href="{{ path('update',{'id':events.id}) }}" class="btn button-border font-additional font-weight-bold hvr-rectangle-out hover-focus-bg hover-focus-border before-bg">Update</a>
                    </div>
                    <div>
                        {{ socialButtons() }}

                    </div>

                </div>

                <div class="reply wow slideInUp" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                    <h3 class="font-additional font-weight-bold text-uppercase">leave a reply</h3>
                    <div id="success"></div>
                    <form novalidate="" id="contactForm" class="reply-form form-inline">
                        <div class="form-group half-wigth pull-left">
                            <label class="sr-only" for="user-name">NAME</label>
                            <input type="text" class="reply-field font-additional font-weight-normal color-third text-uppercase" id="user-name" placeholder="NAME">
                        </div>
                        <div class="form-group half-wigth pull-right">
                            <label class="sr-only" for="user-email">EMAIL</label>
                            <input type="email" class="reply-field font-additional font-weight-normal color-third text-uppercase" id="user-email" placeholder="EMAIL">
                        </div>
                        <div class="form-group full-width pull-left">
                            <label class="sr-only" for="user-message">COMMENTS</label>
                            <textarea class="reply-field font-additional font-weight-normal color-third text-uppercase" id="user-message" placeholder="COMMENTS"></textarea>
                        </div>


                        <button type="submit" class="btn button-border font-additional font-weight-normal hvr-rectangle-out hover-focus-bg hover-focus-border before-bg">send comment</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}