{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demandelivreurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateinscription</th>
                <th>Vehicule</th>
                <th>Disponibilite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandeLivreur in demandeLivreurs %}
            <tr>
                <td><a href="{{ path('sav_demandeLivreur_show', { 'id': demandeLivreur.id }) }}">{{ demandeLivreur.id }}</a></td>
                <td>{% if demandeLivreur.dateInscription %}{{ demandeLivreur.dateInscription|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ demandeLivreur.vehicule }}</td>
                <td>{{ demandeLivreur.disponibilite }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sav_demandeLivreur_show', { 'id': demandeLivreur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sav_demandeLivreur_edit', { 'id': demandeLivreur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sav_demandeLivreur_new') }}">Create a new demandeLivreur</a>
        </li>
    </ul>
{% endblock %}
